<div id="<%= dom_id frienda %>">
  <p>
    <strong>First name:</strong>
    <%= frienda.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= frienda.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= frienda.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= frienda.phone %>
  </p>

  <p>
    <strong>Twitter:</strong>
    <%= frienda.twitter %>
  </p>

</div>
