<p style="color: green"><%= notice %></p>

<%= render @frienda %>

<div>
  <%= link_to "Edit this frienda", edit_frienda_path(@frienda) %> |
  <%= link_to "Back to friendas", friendas_path %>

  <%= button_to "Destroy this frienda", @frienda, method: :delete %>
</div>
